body {
  font-family: 'Courier New', Courier, monospace; /* Set font-family to a monospaced font */
  color: #aaa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Hide overflow to prevent scrolling */
  position: relative; /* Required for absolute positioning within body */
  background: url('/pics/checker.png'); /* You can insert your background image URL here */
  background-size: 64px;
  animation: animateBackground 40s linear infinite;
}

@keyframes animateBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 100%;
  }
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left,
.right {
  width: 20%;
  border: 2px solid white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75); /* Transparent black background */
}

.center {
  width: 60%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.75); /* Transparent black background */
}


marquee {
  background-color: #bb7aa8;

  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
}

a:hover {
  color: #bb7aa8;
}

h1 {
  font-size: 3em;
  color: #bb7aa8;
}

h3 {
  color: #bb7aa8;
}

.left p,
.right p {
  font-size: 0.8em;
}

img {
  width: 81px;
  display: block;
  margin-bottom: 10px;
}
