/* The animation code */
@keyframes redblack {
    0%   {background-color: red;}
    50%  {background-color: #000000;}
    100% {background-color: red;}
  }
@keyframes opacity {
    100% {opacity: 1%;}
}

  @keyframes blackred {
    0%   {color: #000;}
    50%  {color: red;}
    100% {color: #000;}
  }

@keyframes move {
    0% {transform: translate(0px, 0px);}
    100% {transform: translate(800%, 0px);}
}

body{
    background-color: #000;
}

h1, a {
    font-family:Arial, Helvetica, sans-serif;
    animation-name: blackred;
    animation-duration: 2s;
    animation-iteration-count: infinite
}
div {
    text-align: center;

}
div.eka {
    margin-left: auto;
    margin-right: auto;
    width: 249px;
    height: 249px;
    background-image: url(shlagg.png);
    transition: border 1s;
    transition: transform 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite
}
div.toka {
        width: 200px;
        height: 200px;
        background-color: red;
        transition: transform 2s;
        animation-name: move, redblack;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        border: 2px;
        border-style: dotted;
        border-color: white;
}

  div.eka:hover {
    border: 2px;
    border-color: rgb(255, 0, 0);
    border-style: dashed;
    transform: scaleX(700%);
}

@keyframes shake {
    0% {transform: translate(0px, 0px);}

    50% {transform: translate(3px, 3px);}
    75% {transform: translate(6px, 3px)}
    100% {transform: translate(-6px, -3px);}
}
div.teksti {
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: shake;
    animation-timing-function: linear;
    animation-duration: 0.075s;
    animation-iteration-count: infinite
}

div.shlagg {
    background-color: #000;
}

div.empty {
    height: 1000px;
}
h1.jerma{
    text-align: center;
}
h1.jerma:hover {
    animation-name: opacity;
    animation-duration: 10s;
}


#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.0);
    /* Black w/opacity/see-through */
  }

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 1px;
    animation: colorRotate 1s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }